@model Tests.NestedRecursive
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.Id)
    @Html.EditorFor(model => model.Id)
    @Html.DisplayNameFor(model => model.SomeProperty)
    @Html.EditorFor(model => model.SomeProperty)
    @Html.ListEditorFor(model => model.Children)
</div>
