@model Tests.NestedRecursive
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.Id)
    @Html.DisplayFor(model => model.Id)
    @Html.DisplayNameFor(model => model.SomeProperty)
    @Html.DisplayFor(model => model.SomeProperty)
    @Html.DisplayListFor(model => model.Children)
</div>
